*{
    margin:0;
    padding:0;
}
.box{
    display:flex;
    flex-direction: column;
    
    text-align: center;
    border:2px solid black;
    width:750px;
    height:350px;
    margin-left:350px;
    margin-top:75px;
    color:white;
    background-color: rgb(111, 24, 182);
    padding-top:70px;
    padding-bottom:60px;
    margin-bottom: 100px;
    border-radius:10px;
}
.container{
    display:flex;
    justify-content: space-evenly;
}
input[type=number]{
    width:15em;
    height:3em;
    border-radius:10px;
    text-align:center;
    border:3px solid rgb(213, 204, 212);
    margin-bottom:100px;
    margin-top:100px;
}
